<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Happy Hacker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{!-- <link href="style.css" rel="stylesheet">
<link href="/public/style.css" type="text/html" />
<link rel="stylesheet" href="/public/style.css"> --}}
<link rel="stylesheet" href="../css/style.css">
<style>
  body::before {
    content: "";
    background-image: url(images/hc.jpg);
    height: 100vh;
    position: absolute;
    z-index: -1;
    width: 100vw;
    background-position: repeat;
    top: 0;
    opacity: 1;
    object-fit: contain;
    
  }
  
  #s{
   
    margin-left: 100px;
  }
  
</style>

</head>
<body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/hacker.png"style="height:50px;width:50px;" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="/">Happy Hacker </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

    {{{body}}}

</body>
</html>