  
  
  <header>
    
<div class=""style="margin-left:280px;margin-top:100px">
  <div id="b" class="container"style="margin-top:60px">
    <div class="container"style="margin-top: 60px; color:white;"><h1>LogIn</h1> <hr></div>
    <div class="container " style="margin-top: 25px;margin-bottom: 100px;">
        <div class="container mt-5 mb-5">
    <form class="mt-5 mb-5"action="/" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1"style="color:white;">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"style="width:500px">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"style="color:white;">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"style="width:500px">
  </div>
  <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>
</div>
</div>
</div>

</header>